<launch>
	<node pkg="point_lio_crimson" type="combine_node" name="combine_node" output="screen" />
    <param name="map_leaf_size" type="double" value="0.05" />
    <param name="mean_k" type="double" value="10" />
    <param name="stddev_mul_thresh" type="double" value="1" />
    <param name="roi_en" type="bool" value="1" />
    <param name="min_x" type="double" value="-1.5" />
    <param name="max_x" type="double" value="10" />
    <param name="min_y" type="double" value="-10" />
    <param name="max_y" type="double" value="10" />
    <param name="min_z" type="double" value="-0.15" />
    <param name="max_z" type="double" value="2" />
</launch>