<launch>
<!-- Launch file for Livox AVIA LiDAR -->

	<arg name="rviz" default="true" />

	<node pkg="point_lio_crimson" type="pointlio_mapping" name="laserMapping" output="screen">
	<rosparam command="load" file="$(find point_lio_crimson)/config/avia.yaml" />
	<param name="use_imu_as_input" type="bool" value="0"/> <!--change to 1 to use IMU as input of Point-LIO-->
	<param name="prop_at_freq_of_imu" type="bool" value="1"/>
	<param name="check_satu" type="bool" value="1"/>
	<param name="init_map_size" type="int" value="10"/>
	<param name="point_filter_num" type="int" value="1"/> <!--4, 3--> 
	<param name="space_down_sample" type="bool" value="1" />  
	<param name="filter_size_surf" type="double" value="0.3" /> <!--0.5, 0.3, 0.2, 0.15, 0.1--> 
	<param name="filter_size_map" type="double" value="0.2" /> <!--0.5, 0.3, 0.15, 0.1-->
	<param name="cube_side_length" type="double" value="2000" /> <!--1000-->
	<param name="runtime_pos_log_enable" type="bool" value="0" /> <!--1-->
	<param name="robot_config" type="int" value="2" />

    <!-- in location_mode can disable imu input -->
    <param name="location_mode" type="bool" value="1" /> 
    <param name="map_path" type="string" value="$(find point_lio_crimson)/map/blank.pcd" />
    <param name="map_show_path" type="string" value="$(find point_lio_crimson)/map/blank_show.pcd" />
    <param name="initial_z" type="double" value="0.0" /> 
    <param name="mapping/imu_en" type="bool" value="1" />
    </node>

	<group if="$(arg rviz)">
	<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find point_lio_crimson)/rviz_cfg/point_lio_location_blank.rviz" />
	</group>
	
	<node pkg="point_lio_crimson" type="image_process_node" name="image_process_node" output="screen" />
	<node pkg="point_lio_crimson" type="initial_pose_node" name="initial_pose_node" output="screen" />
	<param name="color_topic" type="string" value="/camera/color/image_raw"/>
    <param name="image_process_topic" type="string" value="/image_process"/>
	<param name="goal_topic" type="string" value="/move_base/reach_goal"/>
    <param name="server_url" type="string" value="192.168.111.103:5000/predict"/>
	
	
	launch-prefix="gdb -ex run --args"

</launch>
